@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

}
ul li{
    margin: 0;
    padding: 0;
}
.mainHead{
    padding: 40px 0;
}



.outerHeader{
    background-image: url(/Images/home_images/home_header_image.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90vh;
}

.register-btn{
    border-radius: 5px;
    padding: 8px 20px ;
    background: rgb(254,251,250);
    background: linear-gradient(101deg, rgba(254,251,250,1) 0%, rgba(229,95,28,1) 0%, rgba(232,36,76,1) 100%);
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-left: 2px;
}


.info-heading{
    text-align: center;
    color: #fff;
    padding-top: 20px;
    
}

/* INFO_BTNS SECTION */


.info-btns
{   display: flex;
    align-items: center;
    justify-content: center;
}


.info-buttons{
    /* text-align: center;
    display: flex; */
    padding: 5px;
    
    /* justify-content: center;
    align-items: center; */
}


.btn-group{
    padding: 15px 80px;
    /* border: 2px solid #fff; */
    color: #fff;
    

    
}

.info-btn1{
    border: 2px solid #fff;
    clip-path: polygon(0, 0, 100% 0, 87% 100%, 0% 100%);

}
.info-btn1:hover{
text-decoration: none;

}

.info-btn2{
    background-color: #EA144E;
    border: 2px solid #fff;
    margin-left: -56px;
    clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%);
}

.info-btn2:hover{
   
    text-decoration: none;
}

/* INFO_BTNS END HERE */

/* content section start */

.outerSection{
    background: url("/Images/home_images/Mission_and_vision_img.png");
    background-repeat: no-repeat;
    background-size: 38% 65%;

}

.secondMain{
    padding: 30px 0px;
}

.myChild{
    background: url("/Images/home_images/My_child.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myChildMe{
    background: url("/Images/home_images/my_child_and_me.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me{
    background: url("/Images/home_images/me.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.family{
    background: url("/Images/home_images/family_member.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.secondMain h4{
    color: #EA144E;
    font-weight: 600;
}

.logoImg{
    padding: 30px 0px;
  
}

.sm-Container{
    margin-left: -10px;
}

.saftyHead{
    margin-top: 30px;
}

.mainFooter{
background-color: #cecece;
padding: 30px 0px;
}

.footerLeft ul li{
    display: inline;
    list-style-type: none;
    padding: 0px 10px;
    border-right: 1px solid #3f3f3f;
    margin: 0;
    
}


.footerRight ul li{
    display: inline;
    list-style-type: none;
    
    
}

.footerRight ul li a{
    color: #3f3f3f;
    padding: 5px;
}

.footerRight{
    display: flex;
    justify-content: flex-end;
}

/* media query  */



 @media only screen and (min-width: 320px) and (max-width: 767px)
 {
 
     .mainHead{
         padding: 40px 0;
     }
     
     
     
     .outerHeader{
         background-image: url(/Images/home_images/home_header_image.png);
         background-repeat: no-repeat;
         background-size: 100% 100%;
         height: 700px;
     }
 
     .info-heading{
         text-align: center;
         color: #fff;
        
         
     }
     
 
     .info-btns
 {   display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
 }
 
 .info-buttons{
     /* text-align: center;
     display: flex; */
     padding: 0px;
     
     /* justify-content: center;
     align-items: center; */
 }
 
 .info-btn2{
     background-color: #EA144E;
     border: 2px solid #fff;
     margin-left: 0px;
     clip-path:none;
     padding: 12px 80px;
 }
 
 .secondSecHeading{
     text-align: center;
 }

 .safeimage{
    margin: -5px -70px;
    padding-top: 32px;
 }


 .saftyHead {
     margin-top: 0px;
     text-align: center;
 }
 .securityImg img{
     width: 100%;
 }
 
 .footerRight{
     display: flex;
     justify-content: center;
 }
 
 .footerLeft ul li {
     display: block; 
     list-style-type: none;
     padding: 0px 10px;
     border-right: none;
     margin: 0;
 }
 .footerRight ul li{
     display: inline;
     padding: 50x 10px;
     list-style-type: none;
     
     
 }
 
 .copyright{
     text-align: center;
 }
 
 .info-heading h2{
     padding: none;
 }

 /* .safe{
     width: 250px;
     margin-left: 40px;
 } */
 
    
 }
 